.home-sidebar-container {
  width: 100%;
	height: 100%;
}

.home-inside-container-up {
  height: 40%;
  @media (max-height: 550px) { display: none; }
}

.home-inside-container {
  width: 100%;
	height: calc(100% - 400px);
  @media (max-height: 280px) { height: calc(100% - 160px); }
}

.home-hiding-content {
  @media (max-height: 280px) { display: none; }
}

.home-title {
  width: 100%;
  margin: 17px 0 0 0;
  font-family: sans-serif;
  font-size: 20px;
	font-weight: 600;
  letter-spacing: 3px;
	text-align: center;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $text-primary-color;
	background-color: $background-primary-color;
}

.home-username {
  width: 100%;
  margin: 14px 0 0 0;
  font-family: sans-serif;
  font-size: 14px;
	font-weight: 600;
  letter-spacing: 2.1px;
	text-align: center;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $text-primary-color;
	background-color: $background-primary-color;
}

.home-options {
  width: 100%;
  margin: 6px 0 0 0;
  font-family: sans-serif;
  font-size: 12px;
	font-weight: 500;
  letter-spacing: 1.8px;
	text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  color: $text-primary-color;
	background-color: $background-primary-color;
}

.user-img {
  width: 40%;
  height: auto;
}

.user-img-background {
  width: 100%;
  height: auto;
  background-image: url('../res/images/profile/placeholder-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% auto;
  margin: 0 auto;
}

.custom-line-home {
  width: 30%;
  height: 0.5px;
  margin: 30px auto 0 auto;
  background-color: $background-secondary-color;
}

.smilies-home {
  margin: 20px 0 0 0;
  width: 25%;
  max-width: 48px;
  min-width: 40px;
	height: 28px;
}

.button-new-target {
  width: 180px;
  height: 20%;
  max-height: 37px;
  background-color: $text-primary-color;
  color: $background-primary-color;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 1.6px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  box-shadow: 0 2px 4px 0 $box-shadow-color;
}
