.chat-sidebar-container {
  width: 100%;
	height: 100%;
}

.chat-inside-container-up {
  @media (max-height: 280px) { display: none; }
}

.chat-inside-container {
  width: 100%;
	height: calc(100% - 190px);
  @media (max-height: 280px) { height: calc(100% - 60px); }
}

.header-button-back {
  float: left;
  width: 15px;
  cursor: pointer;
  display: flex;
  margin: 15px 0 15px 12px;
  color: $background-primary-color;
  align-items: center;
  justify-content:center;
  height: 20px;
}

.custom-line-chat-header{
  width: 300px;
	height: 0.1px;
  margin: 0 0 0 6px;
	opacity: 0.1;
	border: solid 0.1px $background-secondary-color;
}

.btn-back-chat {
  width: 180px;
  height: 37px;
  background-color: $text-primary-color;
  color: $background-primary-color;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 1.6px;
  display: inline-block;
  margin-top: 14px;
  box-shadow: 0 2px 4px 0 $box-shadow-color;
}

.bubbleContainer{
  height: auto;
  width: auto;
  position: relative;
}

.message-item-time-me {
  float: right;
  margin: 8px 10px 0 0;
  font-size: 9px;
  width: auto;
	height: inherit;
  color: $chat-time-color;
}

.message-item-time-you {
  float: left;
  margin: 8px 0 0 10px;
  font-size: 9px;
  width: auto;
	height: inherit;
  color: $chat-time-color;
}

.time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: $text-secondary-color;
  background-color: $background-primary-color;
}


.img-user {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.chatHeader {
  position: relative;
  width: 100%;
  height: auto;
  margin: 16px 0 8px 0;
  background-color: $background-primary-color;

  .topicImg {
    position: absolute;
    left: 10%;
    width: 21px;
    height: 21px;
  }

  .name {
    display: inline-block;
    overflow: hidden !important;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text-primary-color;
  }

  .chatSubHeader {
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    overflow: hidden !important;
    text-align: center;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $text-secondary-color;
  }
}

.wrapper {
    position: relative;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0);
}

.write {
  position: relative;
  height: 15%;
  min-height: 30px;
  margin: 5% auto 0 auto;
  border: 1px solid $text-secondary-color;
  background-color: $chat-input-color;
  width: calc(100% - 60px);

  input {
    font-size: 12px;
    font-family: sans-serif;
    float: left;
    width: 100%;
    height: 50%;
    outline: none;
    margin: 6.25% 0;
    padding: 0 10px;
    color: $background-secondary-color;
    border: 0;
    background-color: $chat-input-color;
  }

  .write-link {

    &.attach {

      &:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        content: '';
        background-image: url('http://s1.postimg.org/s5gfy283f/attachemnt.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &.smiley {

      &:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        content: '';
        background-image: url('http://s14.postimg.org/q2ug83h7h/smiley.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &.send {

      &:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        margin: 0 0 0 11px;
        content: '';
        background-image: url('http://s30.postimg.org/nz9dho0pp/send.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.container-chat {
  width: 100%;
	height: 85%;
  padding: 30px 0 0 0;
	text-align: center;
  position: relative;
  background-color: $background-primary-color;
  @media (max-height: 280px) { padding: 0; }

  .left {
    height: 100%;

    .top {
      width: 100%;
      height: 47px;
      padding: 15px 29px;
      background-color: $chat-input-color;
      span {
        font-size: 15px;
        color: $background-secondary-color;

        .name {
          color: $background-secondary-color;
        }
      }
    }

    .chat {
      position: relative;
      display: none;
      overflow: hidden;
      padding: 0 35px 0;
      height: 100%;
      overflow-y: scroll;
      justify-content: flex-start;
      flex-direction: column;
      display: block;
      display: flex;

      .bubble {
        -webkit-transition-timing-function: cubic-bezier(.4,-.04, 1, 1);
        @for $i from 1 through 10 {
          &:nth-of-type(#{$i}) {
            -webkit-animation-duration: (.15s *$i);
          }
        }
      }
    }

    .bubbleme {
      max-width: 155px;
      font-size: 12px;
      font-family: sans-serif;
      text-align: right;
      position: relative;
      display: inline-block;
      clear: both;
      margin: 0 0 8px 0;
      padding: 4px 8px;
      vertical-align: top;
      border-radius: 5px;
      float: right;
      color: $text-primary-color;
      background-color: $target-marker-background-color;
      align-self: flex-end;
      -webkit-animation-name: slideFromRight;

      &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
        right: -3px;
        background-color: $target-marker-background-color;
      }
    }

    .bubbleyou {
      max-width: 155px;
	    font-size: 12px;
      font-family: sans-serif;
      text-align: left;
      position: relative;
      display: inline-block;
      clear: both;
      margin: 0 0 8px 0;
      padding: 4px 8px;
      vertical-align: top;
      border-radius: 5px;
      float: left;
      color: $text-primary-color;
      background-color: $bubble-you;
      align-self: flex-start;
      -webkit-animation-name: slideFromLeft;

      &:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg);
        left: -3px;
        background-color: $bubble-you;
      }
    }

    .conversation-start {
      position: relative;
      width: 100%;
      margin: 0 0 27px 0;
      text-align: center;

      span {
        font-size: 14px;
        display: inline-block;
        color: $background-secondary-color;

        &:before,&:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: $text-secondary-color;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }
    }
  }
}

@keyframes slideFromLeft {
  0% {
    margin: 0 0 0 -200px;
    opacity: 0;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin: 0 0 0 -200px;
    opacity: 0;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin: 0 -200px 0 0;
    opacity: 0;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin: 0 -200px 0 0;
    opacity: 0;
  }
  100% {
    margin: 0;
    opacity: 1;
  }
}
