@import 'utils/palette';
@import 'utils/dimens';

.target-icon {
  margin-top: 10px;
  width: 30px;
	height: 30px;
}

.smilies-img-sidebar {
  margin-top: 10px;
  width: 25%;
  max-width: 48px;
  min-width: 40px;
	height: 28px;
}

.btn-matches {
  width: 60%;
  height: 37px;
  background-color: $text-primary-color;
  color: $background-primary-color;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 1.6px;
  display: inline-block;
  margin-top: 34px;
  box-shadow: 0 2px 4px 0 $box-shadow-color;
}

.sidebar {
  width: auto;
	height: calc(100% - $sidebar-header-height);
	text-align: center;
  overflow-y: scroll;
}

.sidebarContainer {
  width: 30%;
  min-width: 218px;
	height: 100%;
	text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 2px 0px 0px 0px $border-secondary-color;
  background-color: $background-primary-color;
  padding-bottom: 15px;
}

.sidebarHeader {
	width: 100%;
	height: $sidebar-header-height;
	display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
	background-color: $tint-color;
}

.sidebarHeaderTitle {
  font-family: sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 3px;
  color: $background-primary-color;
}

.sidebarSubHeader {
	width: 100%;
  margin: 6px 0 0 0;
  font-family: sans-serif;
  font-size: 11px;
	font-weight: 600;
  letter-spacing: 1.6px;
	text-align: center;
  display: inline-block;
	background-color: $background-primary-color;
}
