.target-form-container{
  margin-top: 0px;
}

.target-area-field{
	font-family: sans-serif;
  margin-top: 16px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: $text-primary-color;
}

.custom-target-input{
  width: 257px;
  height: 30px;
  border: solid 0.5px $text-primary-color;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.target-form-field{
	font-family: sans-serif;
  margin-top: 11px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: $text-primary-color;
}

.target-form-input{
	font-family: sans-serif;
  margin-top: 26px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: $text-primary-color;
}

.btn-save-target{
  width: 113.5px;
  height: 39px;
	background-color: $text-primary-color;
	color: $background-primary-color;
	font-family: sans-serif;;
	font-size: 11px;
	letter-spacing: 1.6px;
	margin-top: 6px;
	box-shadow: 0 2px 4px 0 $box-shadow-color;
}

.target-form-firstItem{
  width: 257px;
  height: 39px;
  text-align: center;
  vertical-align: middle;
  line-height: 39px;
  display: inline-block;
  border: solid 0.5px $text-primary-color;
}

.target-form-listItem{
  width: 257px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  display: inline-block;
  border-right: solid 0.5px $background-secondary-color;
  border-left: solid 0.5px $background-secondary-color;
  border-bottom: solid 0.5px $background-secondary-color;
}
