$tint-color: rgb(48, 188, 247);
$background-primary-color: #ffffff;
$background-secondary-color: #000000;
$text-primary-color: #000000;
$text-header-color: #212121;
$border-primary-color: #060606;
$border-secondary-color: #999;
$option-hover-color: rgba(0, 0, 0, 0.06);
$hover-background-color: #f2f9fc;
$hover-color: #333;
$text-subtitle-color: #212121;
$text-secondary-color: #a6a6a6;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$bubble-you: rgba(244, 244, 244, 0.7);
$chat-input-color: #eceff1;
$chat-time-color: #a1a1a1;
$target-marker-background-color: rgba(239, 197, 55, 0.7);
$button-danger-color: rgb(208, 2, 27);
