$tint-color: #2fbcf7;
$background-primary-color: #ffffff;
$background-secondary-color: #000000;
$text-primary-color: #000000;
$text-secondary-color: #a6a6a6;
$target-marker-background-color: rgba(239, 197, 55, 0.7);
