.column-half{
	width: 50%;
	height: 100%;
	min-height: 768px;
	display: inline-block;
	margin-bottom: 20px;
	float: left;
}

.column-right{
	width: 100%;
	height: 100%;
	min-height: 768px;
	background-color: rgb(48, 188, 247);
	position: absolute;
	display: inline-block;
}

.column-right-half{
	width: 50%;
	height: 100%;
	min-height: 768px;
	background-color: rgb(48, 188, 247);
	position: absolute;
	display: inline-block;
}

.column-half-media{
	@media (min-width: 1224px) {
		width: 50%;
		height: 100%;
		min-height: 768px;
		display: inline-block;
		margin-bottom: 20px;
		float: left;
	}
}

.column-right-media{
	@media (min-width: 1224px) {
		width: 50%;
		height: 100%;
		min-height: 768px;
		background-color: rgb(48, 188, 247);
		position: absolute;
		display: inline-block;
	}
	@media (max-width: 1224px) {
		width: 100%;
		height: 100%;
		min-height: 768px;
		background-color: rgb(48, 188, 247);
		position: absolute;
		display: inline-block;
	}
}
