.column-half-media{
	@media (min-width: 1224px) {
		width: 50%;
		height: 100%;
		min-height: 768px;
		display: inline-block;
		float: left;
	}
}

.column-right-media{
	height: 100%;
	width: 100%;
	min-height: 768px;
	display: flex;
  align-items: center;
	background-color: $tint-color;
	position: absolute;
	@media (min-width: 1224px) {
		width: 50%;
		display: inline-block;
	}
}
